extends ../layout

block content
	form(action='/signin' method='POST')
		.username
			label username
			input(type='text' name='user_name')
		.passport
			label password
			input(type='password' name='password')
		.signin
			input(type='submit')
